<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Price comparator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="new_product">New product <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="nav-link" href="view_tracked_products">View tracked products </a>
      </li>
      <li>
        <a class="nav-link" href="competitors">Competitors </a>
      </li>
      
    </ul>
  </div>
</nav>