{% extends "base.html" %}

{% block content %}
	<div>
	<dl class="row">
		<dt class="col-sm-3">Product name </dt>
		<dd class="col-sm-9">{{product.name}}</dd>
		<dt class="col-sm-3">Keywords </dt>
		<dd class="col-sm-9">{{product.keywords}}</dd>
		<dt class="col-sm-3">Price</dt>
		<dd class="col-sm-9"> {{product.price}} </dd>
		<dd class="col-sm-9">
			<button class="btn btn-primary">Select all</button>
			<button class="btn btn-primary">Update selected</button>
			<button class="btn btn-primary">Export selected</button> 
			<button class="btn btn-danger">Delete selected</button> 
		</dd>
	</dl>

	<table class="table">
		<tr>
			<th>Id</th>
		 	<th>Store</th>
			<th>Product name</th>
			<th>Price</th>
			<th>Shipping</th>
			<th>Select</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		{% for item in product.tacked_items %}
		<tr>
			<td><a href="{{item.url}}"> {{item.web_id}} </a></td>
		 	<td>{{item.seller}}</td>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.shipping}}</td>
			<td><input type="checkbox"/></td>
			<td><button class="btn btn-primary">Update</button></td>
			<td><button class="btn btn-danger">Delete</button></td>

		</tr>
	{% endfor %}
	</table>
	</div>
{% endblock %}
	
