{% extends "base.html" %}

{% block content %}
	<div>
	<dl class="row">
		<dt class="col-sm-3">Search term </dt>
		<dd class="col-sm-9">{{search.search}}</dd>
		<dt class="col-sm-3">Price</dt>
		<dd class="col-sm-9"> {{search.price}} </dd>
		<dd class="col-sm-9"><button class="btn btn-primary">Update all</button>  </dd>
	</dl>

	<table class="table">
		<tr>
			<th>Id</th>
		 	<th>Store</th>
			<th>Product name</th>
			<th>Price</th>
			<th>Shipping</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		{% for product in search.tacked_products %}
		<tr>
			<td><a href="{{product.url}}"> {{product.product_id}} </a></td>
		 	<td>{{product.seller}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.shipping}}</td>
			<td><button class="btn btn-primary">Update</button></td>
			<td><button class="btn btn-danger">Delete</button></td>
		</tr>
	{% endfor %}
	</table>
	</div>
{% endblock %}
	
